.tarolo {
    height: 400px;
    display: flex;
    background-color: yellow;
    align-items: flex-end;
    justify-content: flex-end;
}

.tarolo>li{
    width: 100px;
    height: 100px;
    background-color: purple;
    list-style: none;
    margin: 1px;
}