/* Hozzon létre egy tárolót, amely három elemet tartalmaz (zöld, sárga, lila). 
A tároló szélessége 100%, magassága 300 képpont. 
Hozzon létre egy CSS fájlt a tárolóban lévő elemek megjelenítéséhez. 
Használja a Flexboxot. Állítsa be a címet "Feladat: 1.1"-re. */

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
    justify-content: space-between;
}

.green {
    background-color: green;
    flex: 1;
}

.yellow {
    background-color: yellow;
    flex: 1;
}

.purple {
    background-color: purple;
    flex: 1;
}