/* Hozzon létre egy tárolót, amely három elemet tartalmaz (zöld, sárga, lila - ebben a sorrendben). 
A tároló szélessége 800 xéppont, magassága 300 képpont. 
Hozzon létre egy CSS fájlt a tárolóban lévő elemek elrendezéséhez. 
Használja a Flexboxot. 
Állítsa be a címet "Feladat: 2.1"-re. 
A zöld, a sárga és a lila elemek 100 × 100 képpont nagyságúak.
A tároló sárga színű.
A zöld és a sátga elem nem jelenik meg.
A lila elen a tároló közepén helyezkedik el. */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 300px;
    background-color: yellow;
}

.green {
    background-color: green;
    opacity: 0;
    order: -1;
    width: 100px;
    height: 100px;
}

.yellow {
    background-color: yellow;
    width: 100px;
    height: 100px;
}

.purple {
    background-color: purple;
    order: -1;
    width: 100px;
    height: 100px;
}